DMS.Standard.IF.Proxy/WA.v2/WA.v2/Web References/WS_Appointment/Appointment.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://wa.dms.webservice/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://wa.dms.webservice/AppointmentGetResponse" xmlns:s0="http://wa.dms.webservice/AppointmentGetRequest" xmlns:s2="http://wa.dms.webservice/AppointmentChangeRequest" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s3="http://wa.dms.webservice/AppointmentChangeResponse" targetNamespace="http://wa.dms.webservice/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://wa.dms.webservice/AppointmentGetRequest">
      <s:element name="AppointmentGetRequest" nillable="true" type="s0:AppointmentGetRequest" />
      <s:complexType name="AppointmentGetRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TransactionHeader" type="s0:TransactionHeader" />
          <s:element minOccurs="0" maxOccurs="1" name="AppointmentGet" type="s0:AppointmentGet" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TransactionHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CountryID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DistributorID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GroupID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DealerID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DMSCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DMSVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DMSServerUrl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DocumentVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TransactionDateTimeUTC" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="TransactionDateTimeLocal" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestPollingToken" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VenderTrackingCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IneterfaceID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PollingToken" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AppointmentGet">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DMSAppointmentNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DMSAppointmentID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AppointmentDateTimeFromLocal" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="AppointmentDateTimeToLocal" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="LastModifiedDateTimeFromUTC" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="LastModifiedDateTimeToUTC" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="DMSAppointmentStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SAEmployeeID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SAEmployeeName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TCEmployeeID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TCEmployeeName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Customer" type="s0:Customer" />
          <s:element minOccurs="0" maxOccurs="1" name="Vehicle" type="s0:Vehicle" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Customer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DMSCustomerNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Contacts" type="s0:ArrayOfContact" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfContact">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Contact" nillable="true" type="s0:Contact" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Contact">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ContactType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ContactValue" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Vehicle">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DMSVehicleNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VIN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastSixVIN" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://wa.dms.webservice/AppointmentGetResponse">
      <s:element name="AppointmentGetResponse" nillable="true" type="s1:AppointmentGetResponse" />
      <s:complexType name="AppointmentGetResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TransactionHeader" type="s1:TransactionHeader" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultMessage" type="s1:ResultMessage" />
          <s:element minOccurs="0" maxOccurs="1" name="Errors" type="s1:ArrayOfError" />
          <s:element minOccurs="0" maxOccurs="1" name="Appointments" type="s1:ArrayOfAppointment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TransactionHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CountryID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DistributorID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GroupID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DealerID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DMSCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DMSVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DMSServerUrl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DocumentVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TransactionDateTimeUTC" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="TransactionDateTimeLocal" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestPollingToken" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VenderTrackingCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IneterfaceID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PollingToken" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ResultMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfError">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Error" nillable="true" type="s1:Error" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Error">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAppointment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Appointment" nillable="true" type="s1:Appointment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Appointment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DMSAppointmentNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DMSAppointmentID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AppointmentDateTimeLocal" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DeliveryDateTimeLocal" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="OpenDateTimeLocal" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="CloseDateTimeLocal" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="DMSAppointmentStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WorkType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PaymentMethod" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InMileage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SAEmployeeID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SAEmployeeName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TCEmployeeID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TCEmployeeName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerComment" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AppointmentChannel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ManagementFields" type="s1:ManagementFields" />
          <s:element minOccurs="0" maxOccurs="1" name="JobRefs" type="s1:ArrayOfJobRef" />
          <s:element minOccurs="0" maxOccurs="1" name="RORefs" type="s1:ArrayOfRORef" />
          <s:element minOccurs="0" maxOccurs="1" name="AdditionalFields" type="s1:ArrayOfAdditionalField" />
          <s:element minOccurs="0" maxOccurs="1" name="Options" type="s1:ArrayOfOption" />
          <s:element minOccurs="0" maxOccurs="1" name="PriceType" type="s1:PriceType" />
          <s:element minOccurs="0" maxOccurs="1" name="Customers" type="s1:ArrayOfCustomer" />
          <s:element minOccurs="0" maxOccurs="1" name="Vehicle" type="s1:Vehicle" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestItems" type="s1:ArrayOfRequestItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ManagementFields">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CreateDateTimeUTC" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="LastModifiedDateTimeUTC" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfJobRef">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="JobRef" nillable="true" type="s1:JobRef" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="JobRef">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DMSJobNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DMSJobStatus" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRORef">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RORef" nillable="true" type="s1:RORef" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RORef">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DMSRONo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DMSROID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DMSROStatus" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAdditionalField">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AdditionalField" nillable="true" type="s1:AdditionalField" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AdditionalField">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AdditionalFieldName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AdditionalFieldValue" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOption">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Option" nillable="true" type="s1:Option" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Option">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="OptionName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OptionValue" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PriceType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UnitPrice" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TotalPrice" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TotalPriceIncludeTax" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DiscountRate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DiscountPrice" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCustomer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Customer" nillable="true" type="s1:Customer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Customer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CustomerInfoType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DMSCustomerNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MiddleName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FullName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Salutation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Gender" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CardNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Addresses" type="s1:ArrayOfAddress" />
          <s:element minOccurs="0" maxOccurs="1" name="Contacts" type="s1:ArrayOfContact" />
          <s:element minOccurs="0" maxOccurs="1" name="SpecialMessage" type="s1:SpecialMessage" />
          <s:element minOccurs="0" maxOccurs="1" name="CorporateInfos" type="s1:ArrayOfCorporateInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAddress">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Address" nillable="true" type="s1:Address" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Address">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AddressType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FullAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Region" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="District" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Locality" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Street" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="House" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Housing" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Flat" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfContact">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Contact" nillable="true" type="s1:Contact" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Contact">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ContactType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ContactValue" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ContactMethodYN" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SpecialMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCorporateInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CorporateInfo" nillable="true" type="s1:CorporateInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CorporateInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CorporateInfoName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CorporateInfoValue" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Vehicle">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DMSVehicleNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VIN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastSixVIN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StockNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LicensePlateNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Make" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ModelCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ModelName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ModelYear" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastMileage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Color" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VehicleType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EngineType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FuelType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cylinders" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Trim" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FullModelName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="InsuranceDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DateInService" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DateDelivered" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="WarrantyStartDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="WarrantyMonths" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WarrantyMiles" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LicenseNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LastServiceDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ExtendedWarranty" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="DeclinedJob" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PendingJob" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DisplayDescription" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ExtendedWarrantyExpireDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="EngineNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Campaigns" type="s1:ArrayOfCampaign" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCampaign">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Campaign" nillable="true" type="s1:Campaign" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Campaign">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CampaignID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CampaignDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CampaignPerformed" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRequestItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RequestItem" nillable="true" type="s1:RequestItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RequestItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ServiceLineNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceLineStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CPSIND" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WorkType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TCEmployeeID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TCEmployeeName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Comments" type="s1:ArrayOfComment" />
          <s:element minOccurs="0" maxOccurs="1" name="Descriptions" type="s1:ArrayOfDescription" />
          <s:element minOccurs="0" maxOccurs="1" name="OPCodes" type="s1:ArrayOfOPCode" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfComment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Comment" nillable="true" type="s1:Comment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Comment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SequenceNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DescriptionComment" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDescription">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Description" nillable="true" type="s1:Description" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Description">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SequenceNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DescriptionComment" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOPCode">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OPCode" nillable="true" type="s1:OPCode" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OPCode">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SequenceNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OPCodeType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EstimatedHours" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ActualHours" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SkillLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Quantity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PriceType" type="s1:PriceType" />
          <s:element minOccurs="0" maxOccurs="1" name="Descriptions" type="s1:ArrayOfDescription" />
          <s:element minOccurs="0" maxOccurs="1" name="Causes" type="s1:ArrayOfCause" />
          <s:element minOccurs="0" maxOccurs="1" name="Corrections" type="s1:ArrayOfCorrection" />
          <s:element minOccurs="0" maxOccurs="1" name="Parts" type="s1:ArrayOfPart" />
          <s:element minOccurs="0" maxOccurs="1" name="Sublets" type="s1:ArrayOfSublet" />
          <s:element minOccurs="0" maxOccurs="1" name="MISCs" type="s1:ArrayOfMISC" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCause">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Cause" nillable="true" type="s1:Cause" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Cause">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SequenceNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Comment" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CauseLaborOpCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCorrection">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Correction" nillable="true" type="s1:Correction" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Correction">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SequenceNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Comment" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CorrectionLaborOpCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPart">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Part" nillable="true" type="s1:Part" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Part">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SequenceNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PartNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PartDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PartType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StockQuantity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StockStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DisplayPartNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UnitOfMeasure" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Quantity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PriceType" type="s1:PriceType" />
          <s:element minOccurs="0" maxOccurs="1" name="Descriptions" type="s1:ArrayOfDescription" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSublet">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Sublet" nillable="true" type="s1:Sublet" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Sublet">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SequenceNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PriceType" type="s1:PriceType" />
          <s:element minOccurs="0" maxOccurs="1" name="Descriptions" type="s1:ArrayOfDescription" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMISC">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MISC" nillable="true" type="s1:MISC" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MISC">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SequenceNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PriceType" type="s1:PriceType" />
          <s:element minOccurs="0" maxOccurs="1" name="Descriptions" type="s1:ArrayOfDescription" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://wa.dms.webservice/AppointmentChangeRequest">
      <s:element name="AppointmentChangeRequest" nillable="true" type="s2:AppointmentChangeRequest" />
      <s:complexType name="AppointmentChangeRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TransactionHeader" type="s2:TransactionHeader" />
          <s:element minOccurs="0" maxOccurs="1" name="AppointmentChange" type="s2:AppointmentChange" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TransactionHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CountryID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DistributorID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GroupID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DealerID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DMSCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DMSVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DMSServerUrl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DocumentVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TransactionDateTimeUTC" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="TransactionDateTimeLocal" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestPollingToken" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VenderTrackingCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IneterfaceID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PollingToken" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AppointmentChange">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DMSAppointmentNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DMSAppointmentID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AppointmentDateTimeLocal" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DeliveryDateTimeLocal" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="OpenDateTimeLocal" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="CloseDateTimeLocal" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="DMSAppointmentStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WorkType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PaymentMethod" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InMileage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SAEmployeeID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SAEmployeeName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TCEmployeeID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TCEmployeeName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerComment" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AppointmentChannel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AdditionalFields" type="s2:ArrayOfAdditionalField" />
          <s:element minOccurs="0" maxOccurs="1" name="Options" type="s2:ArrayOfOption" />
          <s:element minOccurs="0" maxOccurs="1" name="PriceType" type="s2:PriceType" />
          <s:element minOccurs="0" maxOccurs="1" name="Customers" type="s2:ArrayOfCustomer" />
          <s:element minOccurs="0" maxOccurs="1" name="Vehicle" type="s2:Vehicle" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestItems" type="s2:ArrayOfRequestItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAdditionalField">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AdditionalField" nillable="true" type="s2:AdditionalField" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AdditionalField">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AdditionalFieldName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AdditionalFieldValue" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOption">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Option" nillable="true" type="s2:Option" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Option">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="OptionName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OptionValue" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PriceType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UnitPrice" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TotalPrice" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TotalPriceIncludeTax" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DiscountRate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DiscountPrice" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCustomer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Customer" nillable="true" type="s2:Customer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Customer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CustomerInfoType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DMSCustomerNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MiddleName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FullName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Salutation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Gender" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CardNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Addresses" type="s2:ArrayOfAddress" />
          <s:element minOccurs="0" maxOccurs="1" name="Contacts" type="s2:ArrayOfContact" />
          <s:element minOccurs="0" maxOccurs="1" name="SpecialMessage" type="s2:SpecialMessage" />
          <s:element minOccurs="0" maxOccurs="1" name="CorporateInfos" type="s2:ArrayOfCorporateInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAddress">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Address" nillable="true" type="s2:Address" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Address">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AddressType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FullAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Region" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="District" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Locality" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Street" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="House" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Housing" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Flat" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfContact">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Contact" nillable="true" type="s2:Contact" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Contact">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ContactType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ContactValue" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ContactMethodYN" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SpecialMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCorporateInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CorporateInfo" nillable="true" type="s2:CorporateInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CorporateInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CorporateInfoName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CorporateInfoValue" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Vehicle">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DMSVehicleNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VIN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastSixVIN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StockNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LicensePlateNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Make" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ModelCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ModelName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ModelYear" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastMileage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Color" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VehicleType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EngineType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FuelType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cylinders" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Trim" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FullModelName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="InsuranceDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DateInService" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DateDelivered" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="WarrantyStartDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="WarrantyMonths" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WarrantyMiles" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LicenseNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LastServiceDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ExtendedWarranty" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="DeclinedJob" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PendingJob" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DisplayDescription" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ExtendedWarrantyExpireDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="EngineNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Campaigns" type="s2:ArrayOfCampaign" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCampaign">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Campaign" nillable="true" type="s2:Campaign" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Campaign">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CampaignID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CampaignDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CampaignPerformed" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRequestItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RequestItem" nillable="true" type="s2:RequestItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RequestItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ServiceLineNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceLineStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CPSIND" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WorkType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TCEmployeeID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TCEmployeeName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Comments" type="s2:ArrayOfComment" />
          <s:element minOccurs="0" maxOccurs="1" name="Descriptions" type="s2:ArrayOfDescription" />
          <s:element minOccurs="0" maxOccurs="1" name="OPCodes" type="s2:ArrayOfOPCode" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfComment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Comment" nillable="true" type="s2:Comment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Comment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SequenceNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DescriptionComment" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDescription">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Description" nillable="true" type="s2:Description" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Description">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SequenceNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DescriptionComment" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOPCode">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OPCode" nillable="true" type="s2:OPCode" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OPCode">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SequenceNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OPCodeType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EstimatedHours" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ActualHours" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SkillLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Quantity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PriceType" type="s2:PriceType" />
          <s:element minOccurs="0" maxOccurs="1" name="Descriptions" type="s2:ArrayOfDescription" />
          <s:element minOccurs="0" maxOccurs="1" name="Causes" type="s2:ArrayOfCause" />
          <s:element minOccurs="0" maxOccurs="1" name="Corrections" type="s2:ArrayOfCorrection" />
          <s:element minOccurs="0" maxOccurs="1" name="Parts" type="s2:ArrayOfPart" />
          <s:element minOccurs="0" maxOccurs="1" name="Sublets" type="s2:ArrayOfSublet" />
          <s:element minOccurs="0" maxOccurs="1" name="MISCs" type="s2:ArrayOfMISC" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCause">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Cause" nillable="true" type="s2:Cause" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Cause">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SequenceNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Comment" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CauseLaborOpCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCorrection">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Correction" nillable="true" type="s2:Correction" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Correction">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SequenceNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Comment" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CorrectionLaborOpCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPart">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Part" nillable="true" type="s2:Part" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Part">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SequenceNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PartNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PartDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PartType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StockQuantity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StockStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DisplayPartNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UnitOfMeasure" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Quantity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PriceType" type="s2:PriceType" />
          <s:element minOccurs="0" maxOccurs="1" name="Descriptions" type="s2:ArrayOfDescription" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSublet">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Sublet" nillable="true" type="s2:Sublet" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Sublet">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SequenceNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PriceType" type="s2:PriceType" />
          <s:element minOccurs="0" maxOccurs="1" name="Descriptions" type="s2:ArrayOfDescription" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMISC">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MISC" nillable="true" type="s2:MISC" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MISC">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SequenceNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PriceType" type="s2:PriceType" />
          <s:element minOccurs="0" maxOccurs="1" name="Descriptions" type="s2:ArrayOfDescription" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://wa.dms.webservice/AppointmentChangeResponse">
      <s:element name="AppointmentChangeResponse" nillable="true" type="s3:AppointmentChangeResponse" />
      <s:complexType name="AppointmentChangeResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TransactionHeader" type="s3:TransactionHeader" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultMessage" type="s3:ResultMessage" />
          <s:element minOccurs="0" maxOccurs="1" name="Errors" type="s3:ArrayOfError" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TransactionHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CountryID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DistributorID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GroupID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DealerID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DMSCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DMSVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DMSServerUrl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DocumentVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TransactionDateTimeUTC" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="TransactionDateTimeLocal" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestPollingToken" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VenderTrackingCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IneterfaceID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PollingToken" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ResultMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfError">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Error" nillable="true" type="s3:Error" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Error">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AppointmentGetSoapIn">
    <wsdl:part name="request" element="s0:AppointmentGetRequest" />
  </wsdl:message>
  <wsdl:message name="AppointmentGetSoapOut">
    <wsdl:part name="AppointmentGetResult" element="s1:AppointmentGetResponse" />
  </wsdl:message>
  <wsdl:message name="AppointmentChangeSoapIn">
    <wsdl:part name="request" element="s2:AppointmentChangeRequest" />
  </wsdl:message>
  <wsdl:message name="AppointmentChangeSoapOut">
    <wsdl:part name="AppointmentChangeResult" element="s3:AppointmentChangeResponse" />
  </wsdl:message>
  <wsdl:portType name="AppointmentSoap">
    <wsdl:operation name="AppointmentGet">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">IF-DMS-AP-R01/Appointment Get</wsdl:documentation>
      <wsdl:input message="tns:AppointmentGetSoapIn" />
      <wsdl:output message="tns:AppointmentGetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AppointmentChange">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">IF-DMS-AP-U01/Appointment Change</wsdl:documentation>
      <wsdl:input message="tns:AppointmentChangeSoapIn" />
      <wsdl:output message="tns:AppointmentChangeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AppointmentSoap" type="tns:AppointmentSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AppointmentGet">
      <soap:operation soapAction="http://wa.dms.webservice/AppointmentGet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppointmentChange">
      <soap:operation soapAction="http://wa.dms.webservice/AppointmentChange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AppointmentSoap12" type="tns:AppointmentSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AppointmentGet">
      <soap12:operation soapAction="http://wa.dms.webservice/AppointmentGet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppointmentChange">
      <soap12:operation soapAction="http://wa.dms.webservice/AppointmentChange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Appointment">
    <wsdl:port name="AppointmentSoap" binding="tns:AppointmentSoap">
      <soap:address location="http://127.0.0.1:9099/v2/Common/Appointment.asmx" />
    </wsdl:port>
    <wsdl:port name="AppointmentSoap12" binding="tns:AppointmentSoap12">
      <soap12:address location="http://127.0.0.1:9099/v2/Common/Appointment.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>