DMS.Standard.IF.Proxy/WA.v2/WA.v2/Web References/WS_OPCode/OPCode.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://wa.dms.webservice/" xmlns:s0="http://wa.dms.webservice/OPCodeGetRequest" xmlns:s1="http://wa.dms.webservice/OPCodeGetResponse" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://wa.dms.webservice/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://wa.dms.webservice/OPCodeGetRequest">
      <s:element name="OPCodeGetRequest" nillable="true" type="s0:OPCodeGetRequest" />
      <s:complexType name="OPCodeGetRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TransactionHeader" type="s0:TransactionHeader" />
          <s:element minOccurs="0" maxOccurs="1" name="OPCodeGet" type="s0:OPCodeGet" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TransactionHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CountryID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DistributorID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GroupID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DealerID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DMSCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DMSVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DMSServerUrl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DocumentVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TransactionDateTimeUTC" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="TransactionDateTimeLocal" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestPollingToken" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VenderTrackingCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IneterfaceID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PollingToken" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OPCodeGet">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Make" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Model" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Year" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Engine" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mileage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Category" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://wa.dms.webservice/OPCodeGetResponse">
      <s:element name="OPCodeGetResponse" nillable="true" type="s1:OPCodeGetResponse" />
      <s:complexType name="OPCodeGetResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TransactionHeader" type="s1:TransactionHeader" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultMessage" type="s1:ResultMessage" />
          <s:element minOccurs="0" maxOccurs="1" name="Errors" type="s1:ArrayOfError" />
          <s:element minOccurs="0" maxOccurs="1" name="OPCodes" type="s1:ArrayOfOPCode" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TransactionHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CountryID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DistributorID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GroupID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DealerID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DMSCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DMSVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DMSServerUrl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DocumentVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TransactionDateTimeUTC" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="TransactionDateTimeLocal" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestPollingToken" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VenderTrackingCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IneterfaceID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PollingToken" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ResultMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfError">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Error" nillable="true" type="s1:Error" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Error">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOPCode">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OPCode" nillable="true" type="s1:OPCode" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OPCode">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OPCodeType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DisplayOPCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DisplayOPDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Make" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Model" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Engine" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Year" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mileage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Period" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DefLinePaymentMethod" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CorrectionLOP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SkillLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HazardMaterialCharge" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EstimatedHours" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PredefinedCauseDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CPSIND" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PriceType" type="s1:PriceType" />
          <s:element minOccurs="0" maxOccurs="1" name="Parts" type="s1:ArrayOfPart" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PriceType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UnitPrice" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TotalPrice" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TotalPriceIncludeTax" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DiscountRate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DiscountPrice" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPart">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Part" nillable="true" type="s1:Part" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Part">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Manufacturer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PartNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PartDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Make" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PartStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PartType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QuantityOnHand" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StockStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DisplayPartNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Remarks" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UnitOfMeasure" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StockQuantity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Quantity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DisplayRemarks" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PriceType" type="s1:PriceType" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="OPCodeGetSoapIn">
    <wsdl:part name="request" element="s0:OPCodeGetRequest" />
  </wsdl:message>
  <wsdl:message name="OPCodeGetSoapOut">
    <wsdl:part name="OPCodeGetResult" element="s1:OPCodeGetResponse" />
  </wsdl:message>
  <wsdl:portType name="OPCodeSoap">
    <wsdl:operation name="OPCodeGet">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">IF-DMS-OP-R01/OPCode Get</wsdl:documentation>
      <wsdl:input message="tns:OPCodeGetSoapIn" />
      <wsdl:output message="tns:OPCodeGetSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OPCodeSoap" type="tns:OPCodeSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="OPCodeGet">
      <soap:operation soapAction="http://wa.dms.webservice/OPCodeGet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OPCodeSoap12" type="tns:OPCodeSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="OPCodeGet">
      <soap12:operation soapAction="http://wa.dms.webservice/OPCodeGet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OPCode">
    <wsdl:port name="OPCodeSoap" binding="tns:OPCodeSoap">
      <soap:address location="http://127.0.0.1:9099/v2/Common/OPCode.asmx" />
    </wsdl:port>
    <wsdl:port name="OPCodeSoap12" binding="tns:OPCodeSoap12">
      <soap12:address location="http://127.0.0.1:9099/v2/Common/OPCode.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>