DMS.Standard.IF.Proxy/WA.v2/WA.v2/Web References/WS_CustomerVehicle/CustomerVehicle.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://wa.dms.webservice/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://wa.dms.webservice/CustomerVehicleGetResponse" xmlns:s0="http://wa.dms.webservice/CustomerVehicleGetRequest" xmlns:s2="http://wa.dms.webservice/CustomerVehicleChangeRequest" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s3="http://wa.dms.webservice/CustomerVehicleChangeResponse" targetNamespace="http://wa.dms.webservice/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://wa.dms.webservice/CustomerVehicleGetRequest">
      <s:element name="CustomerVehicleGetRequest" nillable="true" type="s0:CustomerVehicleGetRequest" />
      <s:complexType name="CustomerVehicleGetRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TransactionHeader" type="s0:TransactionHeader" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerVehicleGet" type="s0:CustomerVehicleGet" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TransactionHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CountryID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DistributorID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GroupID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DealerID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DMSCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DMSVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DMSServerUrl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DocumentVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TransactionDateTimeUTC" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="TransactionDateTimeLocal" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestPollingToken" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VenderTrackingCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IneterfaceID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PollingToken" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CustomerVehicleGet">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Customer" type="s0:Customer" />
          <s:element minOccurs="0" maxOccurs="1" name="Vehicle" type="s0:Vehicle" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Customer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DMSCustomerNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CardNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Contacts" type="s0:ArrayOfContact" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfContact">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Contact" nillable="true" type="s0:Contact" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Contact">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ContactType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ContactValue" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Vehicle">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DMSVehicleNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VIN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastSixVIN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LicensePlateNo" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://wa.dms.webservice/CustomerVehicleGetResponse">
      <s:element name="CustomerVehicleGetResponse" nillable="true" type="s1:CustomerVehicleGetResponse" />
      <s:complexType name="CustomerVehicleGetResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TransactionHeader" type="s1:TransactionHeader" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultMessage" type="s1:ResultMessage" />
          <s:element minOccurs="0" maxOccurs="1" name="Errors" type="s1:ArrayOfError" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerVehicles" type="s1:ArrayOfCustomerVehicle" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TransactionHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CountryID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DistributorID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GroupID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DealerID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DMSCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DMSVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DMSServerUrl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DocumentVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TransactionDateTimeUTC" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="TransactionDateTimeLocal" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestPollingToken" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VenderTrackingCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IneterfaceID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PollingToken" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ResultMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfError">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Error" nillable="true" type="s1:Error" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Error">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCustomerVehicle">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CustomerVehicle" nillable="true" type="s1:CustomerVehicle" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CustomerVehicle">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Customer" type="s1:Customer" />
          <s:element minOccurs="0" maxOccurs="1" name="Vehicle" type="s1:Vehicle" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Customer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CustomerInfoType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DMSCustomerNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MiddleName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FullName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Salutation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Gender" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CardNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Addresses" type="s1:ArrayOfAddress" />
          <s:element minOccurs="0" maxOccurs="1" name="Contacts" type="s1:ArrayOfContact" />
          <s:element minOccurs="0" maxOccurs="1" name="SpecialMessage" type="s1:SpecialMessage" />
          <s:element minOccurs="0" maxOccurs="1" name="CorporateInfos" type="s1:ArrayOfCorporateInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAddress">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Address" nillable="true" type="s1:Address" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Address">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AddressType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FullAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Region" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="District" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Locality" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Street" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="House" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Housing" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Flat" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfContact">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Contact" nillable="true" type="s1:Contact" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Contact">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ContactType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ContactValue" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ContactMethodYN" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SpecialMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCorporateInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CorporateInfo" nillable="true" type="s1:CorporateInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CorporateInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CorporateInfoName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CorporateInfoValue" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Vehicle">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DMSVehicleNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VIN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastSixVIN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StockNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LicensePlateNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Make" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ModelCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ModelName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ModelYear" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastMileage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Color" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VehicleType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EngineCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EngineType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FuelType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cylinders" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Trim" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FullModelName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="InsuranceDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DateInService" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DateDelivered" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="WarrantyStartDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="WarrantyMonths" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WarrantyMiles" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LicenseNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LastServiceDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ExtendedWarranty" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="DeclinedJob" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PendingJob" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DisplayDescription" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ExtendedWarrantyExpireDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="EngineNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Campaigns" type="s1:ArrayOfCampaign" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCampaign">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Campaign" nillable="true" type="s1:Campaign" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Campaign">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CampaignID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CampaignDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CampaignPerformed" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://wa.dms.webservice/CustomerVehicleChangeRequest">
      <s:element name="CustomerVehicleChangeRequest" nillable="true" type="s2:CustomerVehicleChangeRequest" />
      <s:complexType name="CustomerVehicleChangeRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TransactionHeader" type="s2:TransactionHeader" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerVehicleChange" type="s2:CustomerVehicleChange" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TransactionHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CountryID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DistributorID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GroupID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DealerID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DMSCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DMSVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DMSServerUrl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DocumentVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TransactionDateTimeUTC" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="TransactionDateTimeLocal" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestPollingToken" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VenderTrackingCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IneterfaceID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PollingToken" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CustomerVehicleChange">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Customer" type="s2:Customer" />
          <s:element minOccurs="0" maxOccurs="1" name="Vehicle" type="s2:Vehicle" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Customer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CustomerInfoType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DMSCustomerNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MiddleName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FullName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Salutation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Gender" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CardNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Addresses" type="s2:ArrayOfAddress" />
          <s:element minOccurs="0" maxOccurs="1" name="Contacts" type="s2:ArrayOfContact" />
          <s:element minOccurs="0" maxOccurs="1" name="SpecialMessage" type="s2:SpecialMessage" />
          <s:element minOccurs="0" maxOccurs="1" name="CorporateInfos" type="s2:ArrayOfCorporateInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAddress">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Address" nillable="true" type="s2:Address" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Address">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AddressType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FullAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Region" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="District" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Locality" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Street" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="House" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Housing" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Flat" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfContact">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Contact" nillable="true" type="s2:Contact" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Contact">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ContactType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ContactValue" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ContactMethodYN" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SpecialMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCorporateInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CorporateInfo" nillable="true" type="s2:CorporateInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CorporateInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CorporateInfoName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CorporateInfoValue" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Vehicle">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DMSVehicleNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VIN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastSixVIN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StockNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LicensePlateNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Make" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ModelCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ModelName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ModelYear" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastMileage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Color" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VehicleType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EngineCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EngineType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FuelType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cylinders" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Trim" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FullModelName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="InsuranceDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DateInService" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DateDelivered" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="WarrantyStartDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="WarrantyMonths" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WarrantyMiles" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LicenseNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LastServiceDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ExtendedWarranty" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="DeclinedJob" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PendingJob" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DisplayDescription" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ExtendedWarrantyExpireDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="EngineNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Campaigns" type="s2:ArrayOfCampaign" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCampaign">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Campaign" nillable="true" type="s2:Campaign" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Campaign">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CampaignID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CampaignDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CampaignPerformed" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://wa.dms.webservice/CustomerVehicleChangeResponse">
      <s:element name="CustomerVehicleChangeResponse" nillable="true" type="s3:CustomerVehicleChangeResponse" />
      <s:complexType name="CustomerVehicleChangeResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TransactionHeader" type="s3:TransactionHeader" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultMessage" type="s3:ResultMessage" />
          <s:element minOccurs="0" maxOccurs="1" name="Errors" type="s3:ArrayOfError" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TransactionHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CountryID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DistributorID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GroupID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DealerID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DMSCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DMSVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DMSServerUrl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DocumentVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TransactionDateTimeUTC" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="TransactionDateTimeLocal" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestPollingToken" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VenderTrackingCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IneterfaceID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PollingToken" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ResultMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfError">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Error" nillable="true" type="s3:Error" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Error">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CustomerVehicleGetSoapIn">
    <wsdl:part name="request" element="s0:CustomerVehicleGetRequest" />
  </wsdl:message>
  <wsdl:message name="CustomerVehicleGetSoapOut">
    <wsdl:part name="CustomerVehicleGetResult" element="s1:CustomerVehicleGetResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerVehicleChangeSoapIn">
    <wsdl:part name="request" element="s2:CustomerVehicleChangeRequest" />
  </wsdl:message>
  <wsdl:message name="CustomerVehicleChangeSoapOut">
    <wsdl:part name="CustomerVehicleChangeResult" element="s3:CustomerVehicleChangeResponse" />
  </wsdl:message>
  <wsdl:portType name="CustomerVehicleSoap">
    <wsdl:operation name="CustomerVehicleGet">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">IF-DMS-CV-R01/CustomerVehicle Get</wsdl:documentation>
      <wsdl:input message="tns:CustomerVehicleGetSoapIn" />
      <wsdl:output message="tns:CustomerVehicleGetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CustomerVehicleChange">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">IF-DMS-CV-U01/CustomerVehicle Change</wsdl:documentation>
      <wsdl:input message="tns:CustomerVehicleChangeSoapIn" />
      <wsdl:output message="tns:CustomerVehicleChangeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomerVehicleSoap" type="tns:CustomerVehicleSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CustomerVehicleGet">
      <soap:operation soapAction="http://wa.dms.webservice/CustomerVehicleGet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerVehicleChange">
      <soap:operation soapAction="http://wa.dms.webservice/CustomerVehicleChange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CustomerVehicleSoap12" type="tns:CustomerVehicleSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CustomerVehicleGet">
      <soap12:operation soapAction="http://wa.dms.webservice/CustomerVehicleGet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerVehicleChange">
      <soap12:operation soapAction="http://wa.dms.webservice/CustomerVehicleChange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerVehicle">
    <wsdl:port name="CustomerVehicleSoap" binding="tns:CustomerVehicleSoap">
      <soap:address location="http://127.0.0.1:9099/v2/Common/CustomerVehicle.asmx" />
    </wsdl:port>
    <wsdl:port name="CustomerVehicleSoap12" binding="tns:CustomerVehicleSoap12">
      <soap12:address location="http://127.0.0.1:9099/v2/Common/CustomerVehicle.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>